/* MENU TOP */
#portal-globalnav-top li {
	background: url('../images/bkg/menu_middle.png') repeat-x top;
	height: 40px;
	display: inline-table;
}

#portal-globalnav-top li.selected {
	background: url('../images/bkg/menu_hover_middle.png') repeat-x top;
}

#portal-globalnav-top li.selected a {
	color: #666666;
	background: url('../images/bars/bar_menutop_hover.png') no-repeat left top;
}

#portal-globalnav-top li:first-child a,
#portal-globalnav-top li:first-child a:hover {
	background: none;
}

#portal-globalnav-top li a {
	color: #333333;
	text-decoration: none;
	line-height: 32px;
	display: inline-table;
	position:relative;
	font-size: 0.75em;
	letter-spacing: 0.1em;
	background: url('../images/bars/bar_menutop.png') no-repeat left top;
	padding: 0 10px;
	margin: 1px 0 0 0;	
}

#portal-globalnav-top li a:hover {
	background: url('../images/bars/bar_menutop_hover.png') no-repeat left top;
}

/* LOGIN */
#portal-login-theme #portal-personaltools {
	background: none;
}

#portal-login-theme #portal-personaltools a {
	color: #666666;
}

#portal-login-theme #portal-personaltools dd {
	background: #E8D00A;
}

#portal-login-theme #portal-personaltools dd a:hover {
	background: #CCCCCC;
}

/* BUSCA */
.portal-searchbox-theme input#searchGadget {
	padding: 4px 4px 10px;
	text-align: right;
	font-size: 0.65em;
	-moz-appearance: none;
	background: url("../images/bkg/search_input.png") no-repeat scroll center top transparent;
	height: 24px;
	border: none;	
}

.portal-searchbox-theme input.searchButton {
	font-size: 0px;
	background: url('../images/icos/search_busca.png') no-repeat top;
	height: 36px;
	width: 35px;
	border: none;
	color: #FFFFFF;
}

.portal-searchbox-theme div.searchSection {
	display: none;
}

.portal-searchbox-theme div#LSResult {
	background: none;
	margin: -1.5em;
	position: relative;
	right: 210px;
}

.portal-searchbox-theme div#LSResult fieldset.livesearchContainer {
	background: #FFFFFF;
	-moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    border: 0.25em solid #F7CB06;
	font-size: 0.85em;
	padding: 0;
	position:absolute !important;
}

.portal-searchbox-theme div#LSResult fieldset.livesearchContainer legend#livesearchLegend {
	padding: 0.4em;
	background: #F7CB06;
	-moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    border: 0.25em solid #F7CB06;
	font-size: 0.85em;
	margin-left: 12px;
}

.portal-searchbox-theme div#LSResult fieldset.livesearchContainer .LSRow a,
.portal-searchbox-theme div#LSResult fieldset.livesearchContainer .LSRow a:hover,
.portal-searchbox-theme div#LSResult fieldset.livesearchContainer .LSRow a:visited,
.portal-searchbox-theme div#LSResult fieldset.livesearchContainer .LSRow a:link {
	color: #666666;
}

/* CONTENT */
.main-middle #portal-column-content #content {
	margin: 0;
}

/* FOOTER */
#portal-globalnav-footer li:first-child {
	background: none;
}

#portal-globalnav-footer li:first-child a {
	background: none;
	padding: 12px 3px 0 0px;
}

#portal-globalnav-footer li {
	background: url('../images/bars/bar_menufooter.png') no-repeat left top;
	*background: url('../images/bars/bar_menufooter.png') no-repeat left bottom;
}

#portal-globalnav-footer li a {
	color: #E8D00A;
	display: inline-block;
	font-size: 0.75em;
	letter-spacing: 0.1em;
	padding: 12px 3px 0 6px;
	text-decoration: none;
}

h6.liberiun-copyright {
	font-size: 0.65em;
	color: #333333;
	font-weight: lighter;
	letter-spacing: 0.1em;
	padding: 130px 0 0 0;
	*padding: 0;
	*margin-top: 160px;
}

h5.liberiun-technologies {
  	color: #CCCCCC;
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.05em;
    padding: 12px 0 0;
}

p.liberiun-info-footer span.cidade {
	font-size: 0.75em;
	line-height: 12px;
	color: #ABABAB;
	font-weight: normal;
	letter-spacing: 0.15em;
}

p.liberiun-info-footer span.ddd {
	font-size: 0.75em;
	line-height: 12px;
	color: #ABABAB;
	font-weight: normal;
	font-style: italic;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

p.liberiun-info-footer span.telefone {
	font-size: 0.95em;
	line-height: 15px;
	color: #ABABAB;
	font-weight: normal;
	font-style: italic;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

h4.liberiun-contato-footer {
	font-size: 1.5em;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: normal;
	font-style: italic;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	top: 108px;
	right: 2px;
}

h4.liberiun-contato-footer-shadow {
	font-size: 1.5em;
	line-height: 20px;
	color: #ABABAB;
	font-weight: normal;
	font-style: italic;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	top: 110px;
	right: 0;
}

#portal-siteactions-theme li:first-child {
	background: none;
}

#portal-siteactions-theme li {
	background: url('../images/bars/bar_siteactions.png') no-repeat left bottom;
	line-height: 15px;
}

#portal-siteactions-theme li:last-child a {
	padding: 75px 0 0 13px;
}

#portal-siteactions-theme li a {
	color: #333333;
	display: inline-block;
	font-size: 0.75em;
	padding: 75px 10px 0 13px;
	text-decoration: none;
}

#portal-siteactions-theme li a:hover {
	color: #E8D00A;
}

/* TITULO */
#topo-theme .topo-right {
	background: url('../images/bkg/topo_right.png') no-repeat right bottom;
	width: 11px;
	height: 70px;
}

#topo-theme .topo-middle {
	background: url('../images/bkg/topo_middle.png') repeat-x right bottom;
	height: 70px;
	width: 97.5%;
}

#topo-theme .topo-left {
	background: url('../images/bkg/topo_left.png') no-repeat right bottom;
	width: 11px;
	height: 70px;
}

.link {
	border-bottom: medium none !important;
	display: block;
	padding-bottom: 10px;
}

.link-laranja {
	color: #F89820 !important;
    font-family: Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    font-weight: normal;
	font-style: italic;
	text-decoration: none;
}

.link-laranja-seta  {
	color: #F89820 !important;
    font-family: Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;
    font-size: 2em;
    font-weight: normal;
	vertical-align: center;
}

.text-attr {
	line-height: 15px;
	display: block;
}

.wrapper-img-attr {
	text-align: center;
}

p.description {
	font-size: 14px !important;
	font-weight: bold;
	color: #666 !important;
	display: block;
}

.img-description {
	margin-left: 10px;
}

/*Turmas */
.proximas-turmas{
    float:left;
    width:220px;
    margin-bottom:15px;
}
