{% extends "base_admin.html" %}
    {% block title %}Adicionar Produtos{% endblock %}
    {% block head %}Adicionar Produtos{% endblock %}
    {% block content %}
		<p>Cadastrar novo produto</p>
		<form action="/admin/add_produto" method="post">
			<table>
				<tr>
					<td align="right">Codigo:</td>
					<td><input type='text' name='codigo' size='64' /></td>
				</tr>
				<tr>
					<td align="right">Nome:</td>
					<td><input type='text' name='nome' size='64' /></td>
				</tr>
				<tr>
					<td><input type="reset" value="Limpar"/></td>
					<td><input type="submit" value="Adicionar Produto"/></td>
				</tr>	
			</table>
		</form>
	
		<p>Produtos ja cadastrados</p>
		<table>
			<tr>
				<th>Codigo</th>
				<th>Nome</th>
			</tr>	
			{% for produto in produtos %}
			
				<tr>
					<td>{{ produto.codigo }}</td>
					<td>{{ produto.nome }}</td>
				</tr>

			{% endfor %}
		</table>

{% endblock %}

