{% extends "base_admin.html" %}
    {% block title %}Bem Vindo ao Sistema {% endblock %}
    {% block head %}Bem Vindo ao Sistema{% endblock %}
    {% block content %}
		<p>Para efetuar o cadastro de produto,
		    <a href="/admin/add_produto">clique aqui</a>
        </p>
		<p>Para efetuar o cadastro de estoques,
		    <a href="/admin/add_estoque">clique aqui</a>
        </p>
		<p>Para Adicinar produtos ao estoque,
		    <a href="/admin/add_quantidade">clique aqui</a>
        </p>
{% endblock %}

